# Server Configuration
PORT=3000
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:5173

# API Configuration
API_PREFIX=/api

# Supabase Configuration
SUPABASE_URL=your_supabase_url_here
SUPABASE_KEY=your_supabase_anon_key_here

# AI Configuration
GEMINI_API_KEY=your_gemini_api_key_here
LLM_MODEL=gemini-2.5-flash

# LangSmith Configuration (Optional - for monitoring)
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT=tovira-agents


SUI_NETWORK=testnet
SUI_PACKAGE_ID=0xb5c5134280b40d99ac384ae13545eb23767eeff97c9d126c2e959ccf68551c2d
SUI_ADMIN_CAP_ID=0xaf6782a34a9c0f7e143a5d50aad99b3e91e236d6e4095a40eacee42ed47cd9a1
SUI_REGISTRY_ID=0x2a47b649b0e78738841b021b2dd8ac5442d856347aace88e6d4c860ee7556fb1
USER_REGISTRY_BLOB_ID=